body {
  font-family: HelveticaNeue, Helvetica, Arial, sans serif;
  background: #eaeaea;
  color: #666;
}

img {
  /*max-width: 100%;*/
  max-width: 400px;
}

a, a:link {
    text-decoration: none;
    cursor: pointer;
    color: #2c84cc;
}

a:hover, a:active {
    color: #016da3;
    text-decoration: underline;
}

input[type=submit], button {
  -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
  -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
  box-shadow:inset 0px 1px 0px 0px #a4e271;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
  background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
  background-color:#89c403;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #74b807;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528009;
}
input[type=submit]:hover, button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
  background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
  background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
  background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
  background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
  background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
  background-color:#77a809;
}
input[type=submit]:active, button:active {
  position:relative;
  top:1px;
}

textarea {
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

.webApp {
  position: fixed;
  left: 50%;
  width: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}


@media all and (max-width: 450px){
  #logo_L { display: none; }
}

/*#loading {
  display: none;
}

#waitWarning {
  display: none;
}

#waitApology {
  display: none;
}

#noResults {
  display: none;
}

#display {
  display: none;
}*/